  <div class="row">
    <div class="col-xs-6 col-sm-6">
    	<h1>My Profile</h1>
    </div>
    <div class="col-xs-6 col-sm-6">
    <br />
			<%= link_to "Change Login Information", edit_user_registration_path, :class=> "btn btn-info btn-lg pull-right" %>
    </div>
  </div>


<%= render 'form' %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>