<h3>Create Note</h3>

<%= form_for [@record, @record.notes.build] do |f| %>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"></div>
      <%= f.text_area :comment, "placeholder" => "notes", "maxlength"=>"254", "style"=>"width:100%", :class => "input-lg form-control", "onkeyup"=>"textAreaAdjust(this)", "onclick"=>"textAreaAdjust(this)"  %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :user_id, "value"=> current_user.id, "placeholder" => "cost", "style"=>"width:45px", "type"=>"number", "hidden"=>"true" %>
    </div>
  </div>
  <p>
    <%= f.submit "Create", :class=> "btn btn-info btn-lg pull-right"%>
  </p>
<% end %>
