
<h1>Client Record</h1>

<%= render 'eform' %>



<br />
<hr />
<%= render 'phases' %>
<br />
<hr />
<%= render 'newnos' %>

<br />
<br />
<br />
<br />
<hr />
<%= render 'nos' %>
<script>
function textAreaAdjust(o) {
    o.style.height = "1px";
    o.style.height = (25+o.scrollHeight)+"px";
}
</script>


