/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
body {
background-color: #F9F9F9;
.my-fluid-container {
  margin-left: 20px;
  margin-right: 20px;
  }
}
.my-default { background-color: #FFFFFF; } //button
.my-danger { background-color: #B2675E; } //button
.my-warning { background-color: #CEE2B7; } //button
.my-success { background-color: #1B998B; } //button
.my-info { background-color: #468189; } //button
.my-active { background-color: #3D3358; } //button

.my-default:hover { background-color: #F5F5F5; } //button
.my-danger:hover { background-color: #F2DEDE; } //button
.my-warning:hover { background-color: #F9F2CC; } //button
.my-success:hover { background-color: #DFF0D8; } //button
.my-info:hover { background-color: #D9EDF7; } //button
.my-active:hover { background-color: #D8D8D8; } //button


/*
.btn-warning { background-color: #FFFFFF; } //button



*.pretty th .current {
*  padding-right: 12px;
*  background-repeat: no-repeat;
*  background-position: right center;
*}
*
*.pretty th .asc {
*  background-image: url(/images/up_arrow.gif);
*}
*
*.pretty th .desc {
*  background-image: url(/images/down_arrow.gif);
*}
*/
